html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

h1 {
  margin: 0;
  padding: 0;
}

.masthead {
  /*position: fixed;*/
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
}

.container { /* just some padding around everything but the masthead */
  padding: 40px;
}

.map { /* inside of container, parent of map image and animal divs */
  position: relative;
}

.map_img { /* map image itself */
  margin: 0 auto;   /*centers image inside .map div*/
  display: block; /* don't know what this is doing */
  width: 100%; /* map image isalways 100 percent of map div width, which is defined by the page/viewport */
}


/* styling classes applied to the animal divs, depending on where the div should pop up in relation to the icon*/

.animal-down-right {
  width: 200px;
  background: rgba(100, 100, 100, 0.5);
  padding: 10px;
  font-size: 12px;
  color: white;
  overflow: hidden;
  border-radius: 0% 25% 25% 25%; /* the top left corner is a point */
}

.animal-down-left { /* div for animal pic and info, child of .map */
  width: 200px;
  background: rgba(100, 100, 100, 0.5);
  padding: 10px;
  font-size: 12px;
  color: white;
  overflow: hidden;
  border-radius: 25% 0% 25% 25%;
}

.animal-up {
  width: 200px;
  background: rgba(100, 100, 100, 0.5);
  padding: 10px;
  font-size: 12px;
  color: white;
  overflow: hidden;
  border-radius: 25% 25% 25% 0%;
}

/* styling of the image inside of the animal div*/
.animal_img {
  width: 60%; /* 50 % of animal div which is 200px */
  border-radius: 50%;
  float: left;
  margin: 5px;
}


/* this is how the icons are positioned */
#lion-icon {
  border-radius: 50%;
  width: 3%;
  position: absolute;
  left: 55%;
  top: 50%;
}

#gibbon-icon {
  border-radius: 50%;
  width: 3%;
  position: absolute;
  left: 78%;
  top: 62%;
}

#chamois-icon {
  border-radius: 50%;
  width: 3%;
  position: absolute;
  left: 51%;
  top: 37%;
}

#wallaby-icon {
  border-radius: 50%;
  width: 3%;
  position: absolute;
  left: 84%;
  top: 62%;
}

/* this is how the div pops up when you hover over the icon */
#lion-icon:hover + #african-lion{
  display: block;
}

#gibbon-icon:hover + #agile-gibbon{
  display: block;
}

#chamois-icon:hover + #appenine-chamois{
  display: block;
}

#wallaby-icon:hover + #wallaby{
  display: block;
}

/* this is how i positioned the actual divs*/
#african-lion {
  display: none;
  position: absolute;
  left: 57%;
  top: 55%;
}

#agile-gibbon {
  display: none;
  position: absolute;
  left: 64%;
  top: 66%;
}

#appenine-chamois {
  display: none;
  position: absolute;
  left: 55%;
  bottom: 60%;
}

#wallaby {
  display: none;
  position: absolute;
  left: 87%;
  bottom: 37%;
}
